<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Bienvenido a esta página</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ruta1">Ruta de prueba 1</a></li>
        <li><a href="/ruta2">Ruta de prueba 2</a></li>
        <li><a href="/ruta3">Ruta de prueba 3</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
